* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
}

h1,
p {
  margin: 0;
  padding: 0;
}

.hero {
  background-color: #23424a;
  color: white;
  padding: 3em 2em;
}

.container {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}

.hero__text {
  width: 66%;
}

.hero__text h1 {
  font-weight: 700;
  font-size: 3rem;
}

.hero__text p {
  margin: 1em 0 3em;
  font-weight: 400;
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  background-color: #38cfd9;
  color: #23424a;
  padding: 0.5em 1em;
  border-radius: 100px;
  font-size: 2rem;
}

.hero__img {
  width: 33%;
}

.row {
  display: flex;
  align-items: flex-start;
  gap: 1em;
}

.main {
  margin-top: 2em;
}

.primary{ 
  width: 62%;
}

.sidebar {
  background-color: #23424a;
  text-align: center;
  color: white;
  width: 32%;
  padding: 0.5em
}
